/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');


/* Colors  */
:root {
    
    --blue: #1C3E95;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #FE7A22;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #979494;
    --gray-dark: #343a40;
    --primary: #1C3E95;
    --secondary: #FE7A22;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --bs-secondary-rgb: 254,122,34;
    --bs-primary-rgb: 28,62,149;
    --bs-secondary: #FE7A22;
    
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block; }
  
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 1.5;
    color: #161616;
    text-align: left;
    background-color: #fff; }
  
  [tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important; }

    
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.2; }

h1, .h1 {
  font-size: 3.6rem; }

h2, .h2 {
  font-size: 3.25rem; }

h3, .h3 {
  font-size: 2.625rem; }

h4, .h4 {
  font-size: 2.125rem; }

h5, .h5 {
  font-size: 1.75rem; }

h6, .h6 {
  font-size: 1.5rem; }

.form-control {

    color: var(--gray);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--gray);
    border-radius: 0;
   
}

.rounded {
    border-radius: 0.625rem !important;
}

.form-floating>label {
    color: var(--gray);
}

/* Buttons */

.btn-secondary {
  color: #fff;
  background-color: #fd7e14;
  border-color: #fd7e14; }
  .btn-secondary:hover {
    color: #fff;
    background-color: #e96b02;
    border-color: #dc6502; }
  .btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #E95A1B;
    border-color:#E95A1B;
    box-shadow: 0 0 0 0.2rem rgba(220, 113, 23, 0.5); }
  .btn-secondary.disabled, .btn-secondary:disabled {
    color: #212529;
    background-color: #fd7e14;
    border-color: #fd7e14; }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #dc6502;
    border-color: #cf5f02; }
    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 113, 23, 0.5); }
/* Sections  */

footer {
  background-color: var(--blue);
}
.cta-section{
    background: url('images/shutterstock_1105116683.jpg');
    background-size: cover;
}

.form-section {
    background: var(--white);
}

.offer-section {
  background: url('images/shutterstock_373266265.jpg');
  background-position: 100%;
  background-size: cover;
}

.pt-5 {
  padding-top: 5rem!important;
}

.pb-5 {
  padding-bottom: 5rem!important;
}

ul.list-inline li {
  padding-bottom: 10px;
}

ul.list-inline li a{
  color: unset;
  text-decoration: none;
  
}

ul.list-inline li a:hover{
  color: var(--bs-secondary);

}
